.app-container {
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(./assets//image/whole_living_background_5.jpeg);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.main{
  flex: 1 0 auto;
}

.page-footer{
  padding-bottom: 20px;
}