.map-container { 
    width: 60vw;
    height: 85vh;
}

.map-loading-text {
    color: white;
    font-size: 50px;
}

.map-error-text {
    color: white;
    font-size: 30px;
}

.marker img {
    width: 40px;
    transform: translate(-50%, -50%);
    transition: -webkit-transform 0.25s cubic-bezier(0.485, 1.65, 0.545, 0.835) 0s;
}

.marker img:hover {
    cursor: pointer;
    transform: translate(-50%, -50%) translate3d(0px, 0px, 0px) scale(1.6, 1.6);
    transition: -webkit-transform 0.25s cubic-bezier(0.485, 1.65, 0.545, 0.835) 0s;
}

@media only screen and (max-width: 580px) {
    .marker img {
        width: 25px;
    }
}