.app-container {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

/* .app-container:after{
  width: 100vw;
  height: 100vh;
  position: absolute;
  opacity: .7;
} */

.container {
  /* height: -webkit-fill-available; */
  height: 78vh;
}

.background-image {
  height: -webkit-fill-available;
  opacity: 0.85;
  width: 100vw;
  height: 100vh;
}

.page{
  top: 0;
  width: -webkit-fill-available;
  position: absolute;
  background: none;
}